# Dependencies
node_modules
/jspm_packages

# Optional npm cache files
.npm

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# dotenv environment files
.env
.env.test

# Next.js build output
.next
/out

# Nuxt.js build/generate output
.nuxt
/dist

# Vuepress build output
.vuepress/dist

# Gatsby build output
/public
.cache

# Default ignored directories by pnpm
/node_modules/.pnpm/

# IDE/Editor config files (optional)
.idea/
.vscode/
*.swp
